<%
  /*
       Animation Searcher V2.0 Meta Definition By LancerComet at 0:27, 2015.10.09.
	   # Carry Your World #
  */  
%>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="renderer" content="webkit">
<meta http-equiv="Cache-Control" content="no-siteapp">
<meta name="keywords" content="<%=appConfig.metaInfo.keywords%>">
<meta name="description" content="<%=appConfig.metaInfo.description>">
<meta name="author" content="<%=appConfig.metaInfo.author%>">
<meta name="robots" content="index,follow">
<link rel="shortcut icon" type="image/ico" href="/favicon.ico" />