@import "./def.styl"

@import "./style.animation.styl"
@import "./style.class-based.styl"
@import "./style.vue-transition.styl"

// Restyling.
html
  font-size: $rootFontSize

a
p
html
input
textarea
  font-family: Microsoft Yahei, "微软雅黑", sans-serif, Tahoma, Helvetica, Arial !important
