@import "./def.styl"

@import "./style.animation.styl"
@import "./style.class-based.styl"
@import "./style.vue-transition.styl"

// Restyling.
html
  font-size: $rootFontSize

a
p
html
input
textarea
  font-family: Microsoft Yahei, "微软雅黑", sans-serif, Tahoma, Helvetica, Arial !important

// Custom style.
.main-section
  width: 100%
  height: 100%
  position: absolute
  top: 0
  left: 0
