// Class-based style.

// Box-sizing.
// =======================
.dp-none
  display none

.dp-flex
  display: flex

.dp-i-flex
  display: inline-flex

.flex-row
  flex-direction: row

.flex-column
  flex-direction: column

.flex-center-v
  align-items: center

.flex-center-h
  justify-content: center

.w-100
  width 100%

.h-100
  height 100%

// Position.
// =======================
.p-absolute
  position absolute

.p-relative
  position relative

.p-fixed
  position fixed

.p-zero
  top 0
  left 0

.m-auto
  margin: 0 auto

.v-middle
  vertical-align: middle

// Visual.
// =======================
.bg-contain
  background-size: contain

.bg-cover
  background-size: cover

.bg-center
  background-position: center center

.bg-no-repeat
  background-repeat: no-repeat

.circle
  border-radius: 50%

.over-visible
  overflow: visible

.over-hidden
  overflow: hidden

.pointer
  cursor: pointer

// Text.
// =======================
.t-center
  text-align: center

.text-hidden
  white-space: nowrap
  overflow: hidden
  text-overflow: ellipsis
