@import "./def.styl"

// Transition.
for item in 2 4 6 8
  .ts-dot-{item}
    transition: all $cubicEase (item * .1)s

// Animation.
@keyframes move-in-top
  from
    opacity: 0
    transform: translate(0, 100%)
  to
    opacity: 1
    transform: translate(0, 0)

.a-move-in-top
  animation: move-in-top $cubicEase .5s

@keyframes move-in-bottom
  from
    transform: translate(0, -100%)
  to
    transform: translate(0, 0)

.a-move-in-bottom
  animation: move-in-bottom $cubicEase .5s

@keyframes move-in-left
  from
    opacity: 0
    transform: translate(100%, 0)
  to
    opacity: 1
    transform: translate(0, 0)

.a-move-in-left
  animation: move-in-left $cubicEase .5s

@keyframes move-out-top
  from
    transform: translate(0, 0)
  to
    transform: translate(0, -100%)

@keyframes move-out-bottom
  from
    transform: translate(0, 0)
  to
    transform: translate(0, 100%)

@keyframes scale-in-ease
  0%
    transform: scale(0)
  50%
    transform: scale(1.1)
  100%
    transform: scale(1)

.a-scale-in-ease
  animation: scale-in-ease $cubicEase .7s

@keyframes fade-out
  from
    opacity: 1
  to
    opacity: 0
