@import "./def.styl"
@import "./style.animation.styl"

// Flyout transition.
.move-out-top-leave-active
  animation: move-out-top $cubicEase .6s !important

// Fadeout.
.fade-out-leave-active
  animation: fade-out $cubicEase .4s

// Fade.
.fade-enter-active
.fade-leave-active
  transition: opacity $cubicEase .4s

.fade-enter
.fade-leave-to
  opacity: 0
