// Class-based style.

// Box-sizing.
// =======================
.dp-none
  display none

.dp-flex
  display: flex

.dp-i-flex
  display: inline-flex

.flex-column
  flex-direction: column

.flex-center-h
  align-items: center

.flex-center-v
  justify-content: center

.w-100
  width 100%

.h-100
  height 100%

// Position.
// =======================
.p-absolute
  position absolute

.p-relative
  position relative

.p-fixed
  position fixed

.p-zero
  top 0
  left 0

.v-middle
  vertical-align: middle

// Visual.
// =======================
.bg-contain
  background-size: contain

.bg-cover
  background-size: cover

.circle
  border-radius: 50%

.over-visible
  overflow: visible

.over-hidden
  overflow: hidden

.pointer
  cursor: pointer
