<!-- Dynamic Background -->
<div class="dynamic-background">
    <div class="cloud cyan huge">
        <img class="svgImg" src="/images/background/cloud-cyan.svg" alt="cloud-cyan"/>
    </div>
    <div class="cloud white small">
        <img class="svgImg" src="/images/background/cloud-white.svg" alt="cloud-svg"/>
    </div>
    <div class="cloud white normal">
        <img class="svgImg" src="/images/background/cloud-white.svg" alt="cloud-svg"/>
    </div>
    <div class="cloud white large">
        <img class="svgImg" src="/images/background/cloud-white.svg" alt="cloud-svg"/>
    </div>
    <div class="sun-moon"></div>
    <div class="mountain right">
        <img class="svgImg" src="/images/background/montain-side.svg" alt="cloud-svg"/>
    </div>
    <div class="mountain center">
        <img class="svgImg" src="/images/background/montain-center.svg" alt="cloud-svg"/>
    </div>
    <div class="mountain left">
        <img class="svgImg" src="/images/background/montain-side.svg" alt="cloud-svg"/>
    </div>
    <div class="tree-container" style="left:12%;width: 13em;height: 19.5em;">
        <div class="tree-leaf"></div>
        <div class="tree-body"></div>
    </div>
    <div class="tree-container" style="left: calc(12% + 14em);">
        <div class="tree-leaf"></div>
        <div class="tree-body"></div>
    </div>
</div>