<!--
    Site Switcher Template By LancerComet at 15:35, 2015.09.30.
    # Carry Your World #
-->

<!--<md-toolbar flex="5">-->
    <!--<div class="md-toolbar-tools" style="font-size: .85em;">站点切换</div>-->
<!--</md-toolbar>-->

<md-content flex="100" layout="row" style="border-radius: .5em; overflow: hidden;">

    <div flex="10" layout="row" class="site-switcher-header transition-dot-4">
        <div flex="100" class="text-center site-switcher-header-inner transition-dot-4">
            <!--<p><i class="icon-th-list"></i></p> -->
        </div>
    </div>


    <section flex="90" layout="column" class="site-switcher-body">
        <!--<md-subheader class="md-primary color-theme text-color" style="margin: 0;" flex="10">切换站点</md-subheader>-->
        <!--<div flex="10">切换站点</div>-->
        <md-list class="site-switcher-list over-auto" style="padding: 1em 0">
            <md-list-item ng-repeat="site in siteList">
                <md-button class="site-switcher-item" aria-label="切换到{{site.name}}的搜索结果." ng-disabled="site.disabled">
                    <div class="site-switcher-item-icon">
                        <img ng-src="{{site.icon}}" class="site-switcher-item-icon-img" alt="Site Logo.">
                    </div>
                    <div class="md-list-item-text site-switcher-item-content">
                        <h3 ng-bind="site.name" class="site-switcher-item-name"></h3>
                        <h4 ng-bind="site.fullName" class="site-switcher-item-fullname"></h4>
                        <p ng-bind="site.url" class="site-switcher-item-url"></p>
                        <div class="info-stroager finishing-hinter no-outline" data-codename="{{site.codeName}}" ng-click="panelSwitch($event)" data-disabled="{{site.disabled}}" ng-class="{'success': 'success', 'caution': 'caution', 'failed': 'failed', 'none': 'none'}[site.eventType]"></div>
                    </div>
                    <md-progress-linear class="site-switcher-progress transition-dot-4" md-mode="indeterminate" ng-hide="site.hideProgressbar" ng-if="!site.disabled"></md-progress-linear>
                    <md-tooltip>{{site.title}}</md-tooltip>
                </md-button>
            </md-list-item>
        </md-list>
    </section>
</md-content>
