<!--
    Site Switcher Template By LancerComet at 15:35, 2015.09.30.
    # Carry Your World #
-->

<!--<md-toolbar flex="5">-->
    <!--<div class="md-toolbar-tools" style="font-size: .85em;">站点切换</div>-->
<!--</md-toolbar>-->

<md-content flex="100" layout="row" style="border-radius: .5em; overflow: hidden;">

    <div flex="10" layout="row" style="min-width: 2em; padding: .5em .5em .5em 0; margin: 1em 0; border-radius:0 .5em .5em 0; background-color: #698dda">
        <div flex="100" class="text-center" style="border: .15em dotted rgba(255, 255, 255, .7); border-left: 0; border-radius: 0 .5em .5em 0; background-color: #698dda; color: #fff">
            <p><i class="icon-th-list"></i></p>
        </div>
    </div>


    <section flex="90" layout="column">
        <!--<md-subheader class="md-primary color-theme text-color" style="margin: 0;" flex="10">切换站点</md-subheader>-->
        <!--<div flex="10">切换站点</div>-->
        <md-list class="site-switcher-list">
            <md-list-item ng-repeat="site in siteList">
                <md-button class="site-switcher-item" aria-label="切换到{{site.name}}的搜索结果.">
                    <div class="site-switcher-item-icon">
                        <img ng-src="{{site.icon}}" class="site-switcher-item-icon-img" alt="Site Logo.">
                    </div>
                    <div class="md-list-item-text site-switcher-item-content">
                        <h3 ng-bind="site.name" class="site-switcher-item-name"></h3>
                        <h4 ng-bind="site.fullName" class="site-switcher-item-fullname"></h4>
                        <p ng-bind="site.url" class="site-switcher-item-url"></p>
                    </div>
                    <md-tooltip>{{site.title}}</md-tooltip>
                </md-button>
            </md-list-item>
        </md-list flex>
    </section>
</md-content>
