/*
    Animation Searcher Stylus @ Common Part By LancerComet at 14:02, 2015.10.09.
    # Carry Your World #
    ---
    样式表通用样式定义.

    Log:
    ---
    V0.1.0 - 14:02, 2015.10.09.
     - 初版.
*/




// Variables Definition. | 变量定义.
// ===================================================================

/* Box-Sizing. */
$commonPadding = 1em;

/* Texting-node. */
$basedFontSize = 16px;
$fontFamily = "微软雅黑", "Microsoft Yahei", "Microsoft Sans Serif";

/* Animation. */
$cubicEase = cubic-bezier(.22, .58, .12, .98);




// Class-based Common Style Definition. | 通用类样式定义.
// ===================================================================

/* Box-Sizing. */
.w-100
  width: 100%

.h-100
  height: 100%

.w-100-with-pd
  width: auto

.pd-common
  padding: $commonPadding

.m-auto
  margin: 0 auto

/* Position. */
.p-absolute
  position: absolute

.p-relative
  position: relative

.p-fixed
  position: fixed;

.p-zero
  left: 0
  top: 0

.p-bottom
  bottom: 0

.over-hidden
  overflow: hidden

.over-hidden-x
  overflow-x: hidden

.over-hidden-y
  overflow-y: hidden

.over-scroll
  overflow: scroll

.over-scroll-x
  overflow-x: scroll

.over-scroll-y
  overflow-y: scroll

.over-auto
  overflow: auto

.over-auto-x
  overflow-x: auto

.over-auto-y
  overflow-y: auto

.z-9000
  z-index 9000

/* Texting. */
.text-left
  text-align: left

.text-center
  text-align: center

.text-right
  text-align: right

.text-light
  color: #fff !important

.font-based
  font-size: $basedFontSize

/* Visual Style. */
.bk-fixed
  background-attachment: fixed

.bk-scroll
  background-attachment: scroll

.bk-no-repeat
  background-repeat: no-repeat

.bk-center
  background-position: center center

.bk-cover
  background-size: cover

.bk-contain
  background-size: contain

.bk-merge
  background-color: rgba(0, 0, 0, .5)

.bk-test
  background-color: #3bb2ca;

.no-outline
  outline: none !important
  &:focus
    outline: none !important

.dp-none
  display: none

/* Animation. */
.transition-dot-2
  transition: all $cubicEase .2s !important

.transition-dot-4
  transition: all $cubicEase .4s !important

.transition-dot-6
  transition: all $cubicEase .6s !important

.transition-dot-8
  transition: all $cubicEase .8s !important

.transition-1
  transition: all $cubicEase 1s !important

/* Color Theme. */
.color-theme
  transition: background-color $cubicEase 1s;

.color-theme.text-color
  transition: color $cubicEase 1s;

/* Merge Node. */
.merge-node
  position: absolute
  top: 0
  left: 0
  width: 100%
  height: 100%
  background-color: rgba(0, 0, 0, .5)




// Elements Restyling. | 元素样式重写.
// ===================================================================
body
  padding: 0
  margin: 0
  border: 0
  font-family: $fontFamily
  font-weight: 100
