/*
    Animation Searcher Stylus @ Angular Material Restyling By LancerComet at 14:18, 2015.10.09.
    # Carry Your World #
    ---
    Angular-Material 框架样式重定义.

    Log:
    ---
    V0.1.0 - 14:18, 2015.10.09.
     - 初版.
*/


// Angular-Material Restyling.
input, label, textarea
  font-family $fontFamily
  font-weight 100

button
  min-width 0 !important

md-tooltip
  z-index 9999

// mCustomScrollbar Restyling.
.mCSB_draggerRail
  display none

.mCSB_dragger_bar
  background-color rgb(72, 89, 126) !important