/*
    Animation Searcher Stylus @ Application Style By LancerComet at 14:25, 2015.10.09.
    # Carry Your World #
    ---
    主程序样式表.

    Log:
    ---
    V0.1.0 - 14:25, 2015.10.09.
     - 初版.
*/
@import "_common.styl"
@import "_libs-restyling.styl"

// Index Stylesheet. | Index 页样式定义.


// Top Header Area. | 顶部 Header 区域.
// ==============================================================
$headerMinHeight = 6em
$headerHeight = 20em
.header
    width: 100%
    //height: $headerHeight
    height: 100%
    padding-top: $headerMinHeight
    position: absolute
    z-index: 0

.header.init-layout
    height: 100%
    padding: 0
    z-index: 1

.greeting-background
    background-size: cover
    background-repeat: no-repeat
    background-position: center center
    transition: all $cubicEase .4s

.greeting-background.blur
    filter: blur(10px)
    transition: all ease 5s
    //transform: scale(1.1)

.greeting-background.stand-by-layout
    opacity: 0
    transition: all ease .4s

.greeting-color-merge
    background-color: #000
    opacity: .35

.greeting-color-merge.stand-by-layout
    opacity: 0

.greeting-area
    display: none

.greeting-area.init-layout
    display: block

.action-bar
    padding: 0 3%

.action-bar-left-flex.stand-by-layout
    //flex: 1

.action-bar-center-flex.stand-by-layout
    //flex: 10

.action-bar-right-flex
    opacity: 0
    text-align: right

@media (max-width: 959px) and (min-width: 0px) {
    .action-bar-right-flex {
        opacity: 0 !important
    }
}

.action-bar-right-flex.stand-by-layout
    //flex: 20
    opacity: 1

.action-bar.init-layout
    //width: 26.5em
    padding-top: 15%

.left-nav-menu
    width: 25px
    height: 25px
    margin-top: 1.5em
    z-index: 1
    background-image: url("/images/top-leftnav-drawer-btn.png")
    cursor: pointer
    animation: scale-in-ease $cubicEase .5s

.search-bar
    width: 20em
    margin-left: 1.5em
    bottom: -.6em
    font-size: .9em

.search-bar.stand-by-layout
    max-width: 24em;

.search-bar-color
    color: rgba(255, 255, 255, .7) !important
    border-color: rgba(255, 255, 255, .7) !important

.search-input-container
    padding: 0

.search-input-container.md-input-focused .search-bar-color
     color: #fff !important
     border-color: #fff !important

.search-button
     top: 1em
     width: 3em

.history-panel-search-bar
    color: #fff

.history-panel-search-bar .history-item
    display: inline-block
    list-style: none



// Left Side Navigator. | 左侧导航.
// ==============================================================
//.left-side-nav-ctrl .md-sidenav-left
//    padding-top: $headerMinHeight + 2.5em

.left-side-nav-ctrl .author-cover
    min-height: 14em
    background-image: url("/images/left-leftnav-author.jpg")

.left-side-nav-ctrl .content
    max-height: calc(100% - 14em - 2em - 3.5em)  // I don't why I msut -3.5em here.

.left-side-nav-ctrl .left-nav-button
    width: 100%
    margin: 0
    padding: .8em

.footer
    height: 2em
    line-height: 2em
    font-size: .8em

@media screen and (max-height: 500px) {
    .left-side-nav-ctrl .content {
        max-height: calc(100% - 2em)
    }

   .author-cover {
       display: none !important
   }

}



// Site Switcher. | 站点切换节点.
// ==============================================================
.aside
    padding-left: 0
    overflow: auto

@media (min-width: 0px) and (max-width: 960px)  {
  .aside {
      min-height: 8.5em
      height: 8.5em
      padding: 1em 2em
  }
}

.site-switcher
    border-radius: .5em
    overflow: hidden

.site-switcher.ng-hide-remove
    animation: move-in-left $cubicEase .4s

.site-switcher-header
    min-width: 2em
    padding: .5em .5em .5em 0
    margin: 1em 0
    border-radius: 0 .5em .5em 0
    background-color: #698dda

.site-switcher-header-inner
    border: .15em dashed rgba(255, 255, 255, .7)
    border-left: 0
    border-radius: 0 .5em .5em 0
    color: #fff

@media (max-width: 960px) {
    .site-switcher-header {
        border-radius: 0 50% 50% 0
    }
    .site-switcher-header-inner {
        border-radius: 0 50% 50% 0
    }
    .site-switcher-list {
        padding: .4em 0 !important
    }
}

.site-switcher-item
    width: 100%
    padding: 1em .5em
    margin: 0
    text-align: left
    text-transform: none

.site-switcher-item[disabled="disabled"]
    filter: grayscale(1)

.site-switcher-item-icon
    margin: 0 1em 0 .5em
    float: left

.site-switcher-item-icon-img
    width: 5em
    height: 5em
    border-radius: 50%

.site-switcher-item-name, .site-switcher-item-fullname, .site-switcher-item-url
    max-width: 17em;
    margin: 0
    font-weight: 400
    line-height: 1.7em
    color: #555
    overflow: hidden
    text-overflow: ellipsis;

.site-switcher-item-fullname
    font-weight: 100
    color: #aaa

.site-switcher-item-url
    color: cornflowerblue



// Main Part. | 主体节点.
// ==============================================================
.main
    //height: calc(100% - 10em)  // $headerHeight
    height: 100%
    padding: 10em 2em 1em 2em

.main-content
    position: relative



// Result Panel. | 结果面板.
// ==============================================================
.result-panel
    width: 100%
    height: 100%
    position: absolute
    top: 0
    left: 0
    background-color: #fff
    border-radius: .5em
    overflow: hidden

.result-panel.ng-hide-add
    animation: scale-out $cubicEase .6s forwards

.result-panel.ng-hide-remove
    opacity: 0
    animation: move-in-from-bottom-card $cubicEase .6s forwards
    //animation-delay: .5s

.result-header
    padding: 0 .5em .5em .5em
    margin: 0 2em
    background-color: #698dda
    color: #fff
    border-radius: 0 0 1.5em 1.5em

.result-header-title
    height: 3.5em
    margin: 0
    border: .15em dashed rgba(255, 255, 255, .6)
    border-top: 0
    border-radius: 0 0 1em 1em
    font-size: 1.2em
    font-weight: 100
    line-height: 3.5em
    text-align: center

.result-list
    padding: 0 1em

.result-list .result-item
    position: relative
    padding: 0 0 .35em 0
    border-bottom: .1em solid #D3DCE7

.result-list .result-item-checkbox-container
    width: 3em
    margin-right: .5em
    float: left

.result-list .result-item-checkbox
    position: absolute
    left: .5em
    top: 1.2em
    background-color: #fff
    opacity: 0
    &:before
        content: ""
        display: block
        width: 2em
        height: 2em
        position: absolute
        left: -.45em
        top: -.1em
        background-color: #fff
    &:hover
        opacity: 1

.result-list .result-item-checkbox.md-checked
    opacity: 1

.result-list .result-item-index
    font-size: 1.5em
    text-align: center
    color: rgb(106, 165, 239)

.result-list .result-item-text-container
    max-width: calc(100% - 3.5em - 2em)  // .result-item-checkbox-container 的宽度 + margin-right 和 .result-list 的 padding
    margin-top: 1em
    font-size: .85em
    font-weight: 400

.result-list .result-item-title
    display: block
    color: #555
    &:hover
        color: #337ab7

.result-list .result-item-link-container
    margin: .35em 0

.result-list .result-item-link
    color: #337ab7

.result-list .result-item-date
    margin: .35em 0
    color: #9ab4ec

.result-pagination
    padding: 1em


// Popup Article Panel Module. | 弹出文章面板模块.
// ==============================================================
.text-panel.panel-out .main-container
    background-color: transparent
    animation: background-transparent $cubicEase .4s

@keyframes background-transparent {
    from {
        background-color: rgba(0, 0, 0, .5);
    }
    to {
        background-color: transparent
    }
}

.text-panel.panel-in .content-container
    animation: move-in-from-bottom-card $cubicEase .55s

.text-panel.panel-out .content-container
    animation: scale-out $cubicEase .6s

.text-panel .content-container
    width: 50%
    height: 90%
    margin: 2.5% auto
    background-color: #fff
    overflow: hidden

.text-panel .title
    width: 100%
    padding: .7em 1em
    margin: 0
    position: absolute
    background-color: $themeColor
    color: #fff
    font-weight: 100

.text-panel .close-btn
    position: absolute
    right: 0
    color: #fff
    &:hover
      transform: rotate(90deg)
    &:active
      transform: rotate(-90deg)

.text-panel .content
    height: calc(100% - 6.9em)
    padding: 2em
    margin-top: 3em
    overflow: auto

.text-panel p
    margin: 0 0 2em 0



// Splash Screen. | 载入界面.
// ==============================================================
.splash-screen
    background-color: #fff
    color: #222
    z-index: 20000

.splash-screen.out
    transform: translate(0, 100%)

.splash-screen .author-image
    border-radius: 50%
    transform: scale(0)
    animation: scale-in $cubicEase .5s forwards

.splash-screen .greeting-text
    transform: scale(0)
    animation: scale-in $cubicEase 1s forwards
    animation-delay: .5s

.splash-screen .progress
    width: 20em
    margin: 0 auto
    border-radius: 50%
    transform: scale(0)
    animation: scale-in $cubicEase 1.5s forwards
    animation-delay: 1.2s



// Character Message Module. | 角色信息提示模块.
// ==============================================================
$charMsgBK = #539cff
.char-msg
    /* Position. */
    position: fixed
    bottom: 6em
    z-index: 10000

    /* Box-sizing. */
    max-width: 30em
    margin: 1em
    padding: .5em

    /* Visual. */
    background-color: $charMsgBK
    border-radius: 2em

    /* Texting. */
    color: #fff

    /* Animation. */
    animation: move-in-bottom $cubicEase .4s

    /* Others. */
    &:before
        content: ""
        display: block
        width: 200px
        height: 200px
        position: absolute
        left: -12em
        bottom: -7em
        background-position: center center
        backgrond-repeat: no-repeat
        background-image: url("/images/char-msg-22.png")
        animation: move-in-bottom $cubicEase .4s

    &:after
        content: ""
        display: block
        position: absolute
        bottom: -1em
        left: 2em
        background-color: $charMsgBK
        border-left: 1em solid $charMsgBK
        border-bottom: 1em solid

.char-msg.left
    left: 15em

.char-msg.right
    right: 10em

.char-msg.out-animation
    animation: move-out-bottom $cubicEase .4s forwards

.char-msg-container
    padding: .5em 2em;
    border: .2em dotted #fff;
    border-radius: 2em;
    white-space: pre-line;
    word-break: break-word;
    word-wrap: break-word;

.char-msg-title
    font-size: 1.2em
    font-weight: 400

.char-msg-content
    margin: 1em 0
    font-size: .9em

.char-msg-close-btn
    background: rgb(255, 116, 0);
    position: absolute
    right: -.6em
    top: -.7em
    width: 2em
    height: 2em
    padding: 0
    border: none
    text-align: center
    border-radius: 50%
    outline: none
    transition: all $cubicEase .3s
    transform-origin: 50% 50%
    &:hover
        transform: rotate(90deg)
    &:active
        transition: none !important
        transform: scale(.8)


// Dynamic Background Part. | 动态背景样式.
// ==============================================================
.dynamic-background
    width: 100%
    //height: 1200px
    height: 100%
    position: absolute
    //top: 0
    bottom: 0
    left: 0
    overflow: hidden
    z-index: 0
    background-color: #7ba7eb
    //animation: move-infinite ease 160s infinite
    //transform: translate(0, -880px)


@keyframes move-infinite {
    0% {
        transform: translate(0, 0)
    }
    40% {
        transform: translate(0, -880px)
    }
    60% {
        transform: translate(0, -880px)
    }
    100% {
        transform: translate(0, 0)
    }
}


.dynamic-background .cloud, .dynamic-background .sun-moon, .dynamic-background .mountain, .dynamic-background .tree-container
    position: absolute


.dynamic-background .svgImg
    width: 100%
    height: 100%


@keyframes cloud-small {
    from {
        transform:translate(-1610%, 0)
    }
    to {
        transform:translate(170%, 0)
    }
}


@keyframes cloud-normal {
    from {
        transform:translate(-220%, 0)
    }
    to {
        transform:translate(660%, 0)
    }
}


@keyframes cloud-large {
    from {
        transform:translate(-215%, 0)
    }
    to {
        transform:translate(315%, 0)
    }
}

.dynamic-background .cloud
    transition: all ease .6s


.dynamic-background .cloud.small
    width: 6%
    top: 22%
    left: 90%
    animation: cloud-small 180s ease infinite


.dynamic-background .cloud.normal
    width: 13%
    top: 5%
    left: 15%
    animation: cloud-normal 240s ease infinite


.dynamic-background .cloud.large
    width: 24%
    top: 2%
    left: 25%
    animation: cloud-large 360s ease infinite


.dynamic-background .cloud.huge
    width: 170%
    height: 170%
    top: -25%
    left: -15%


.dynamic-background .mountain.left
    width: 30%
    bottom: -20%


.dynamic-background .mountain.center
    width:58%
    bottom:-27%
    left: calc(50% - 30%)


.dynamic-background .mountain.right
    width: 35%
    bottom: -20%
    left: calc(50% + 20%)


.dynamic-background .tree-container
    width:10em
    height:15em
    position: absolute
    bottom:0

.dynamic-background .tree-container.tree-1
    animation: move-up-down ease 3s infinite

.dynamic-background .tree-container.tree-2
    animation: move-up-down-2 ease 3s infinite

@keyframes move-up-down {
    0% {
        transform: translate(0, 0)
    }
    50% {
        transform: translate(0, 3em)
    }
    100% {
        transform: translate(0, 0)
    }
}

@keyframes move-up-down-2 {
    0% {
        transform: translate(0, 3em)
    }
    50% {
        transform: translate(0, 0)
    }
    100% {
        transform: translate(0, 3em)
    }
}


.dynamic-background .tree-container .tree-leaf
    background-color:#638764
    width: 100%
    height:65%
    position: absolute
    top: 0
    left: 0
    border-radius: 100%


.dynamic-background .tree-container .tree-leaf:after
    content: ''
    width: 68%
    height: 68%
    position: absolute
    top: 16%
    left: 16%
    background: #70a753
    border-radius: 100%
    z-index: 1


.dynamic-background .tree-container .tree-body
    background-color: #876959
    width: 15%
    height: 50%
    position: absolute
    bottom: 0
    left: 43.5%

