/*
    Animation Searcher Stylus @ Application Style By LancerComet at 14:25, 2015.10.09.
    # Carry Your World #
    ---
    主程序样式表.

    Log:
    ---
    V0.1.0 - 14:25, 2015.10.09.
     - 初版.
*/
@import "_common.styl"
@import "_libs-restyling.styl"

// Index Stylesheet. | Index 页样式定义.


// Top Header Area. | 顶部 Header 区域.
// ==============================================================
$headerMinHeight = 6em
.header
    height: 3em
    padding-top: $headerMinHeight

.header.init-layout
    height: 100%
    padding: 0

.greeting-area
    display: none

.greeting-area[layout-status="init-layout"]
    display: block

.action-bar
    padding: 0 3%

.action-bar[layout-status="init-layout"]
    display: block
    width: 26.5em
    margin: 0 auto

.left-nav-menu
    width: 25px
    height: 25px
    margin-top: 1.5em
    z-index: 1
    background-image: url("/images/top-leftnav-drawer-btn.png")
    cursor: pointer

.search-bar
    width: 20em
    margin-left: 1.5em
    bottom: -.6em
    font-size: .9em

.search-bar-color
    color: rgba(255, 255, 255, .7) !important
    border-color: rgba(255, 255, 255, .7) !important

.search-input-container
    padding: 0

 .search-input-container.md-input-focused .search-bar-color
     color: #fff !important
     border-color: #fff !important

 .search-button
     top: 1em
     width: 3em

// Left Side Navigator. | 左侧导航.
// ==============================================================
.left-side-nav-ctrl .md-sidenav-left
    padding-top: $headerMinHeight + 2.5em

.left-side-nav-ctrl .author-cover
    min-height: 14em
    background-image: url("/images/left-leftnav-author.jpg")

.left-side-nav-ctrl .content
    max-height: calc(100% - 8.5em - 14em - 3em + 5em) // I don't why I msut plus 5em here.

.left-side-nav-ctrl .left-nav-button
    width: 100%
    margin: 0
    padding: .8em

.footer
    height: 1em
    line-height: 1em
    font-size: .8em

@media screen and (max-height: 640px) {
    .left-side-nav-ctrl .content {
        max-height: calc(100% - 8.5em  + 5em) // I don't why I msut plus 5em here.
    }

   .author-cover {
       display: none !important
   }

   .left-side-nav-ctrl .md-sidenav-left {
       padding-top: $headerMinHeight + 4em
   }
}

// Character Message Module. | 左侧导航.
// ==============================================================
$charMsgBK = #539cff
.char-msg
    /* Position. */
    position: fixed
    bottom: 6em
    z-index: 10000

    /* Box-sizing. */
    max-width: 30em
    margin: 1em
    padding: .5em

    /* Visual. */
    background-color: $charMsgBK
    border-radius: 2em

    /* Texting. */
    color: #fff

    /* Animation. */
    animation: move-in-bottom $cubicEase .4s

    /* Others. */
    &:before
        content: ""
        display: block
        width: 200px
        height: 200px
        position: absolute
        left: -12em
        bottom: -7em
        background-position: center center
        backgrond-repeat: no-repeat
        background-image: url("/images/char-msg-22.png")
        animation: move-in-bottom $cubicEase .4s

    &:after
         content: ""
         display: block
         position: absolute
         bottom: -1em
         left: 2em
         background-color: $charMsgBK
         border-left: 1em solid $charMsgBK
         border-bottom: 1em solid

.char-msg.left
    left: 15em

.char-msg.right
    right: 10em

.char-msg.out-animation
    animation: move-out-bottom $cubicEase .4s forwards

.char-msg-container
    padding: .5em 2em;
    border: .2em dotted #fff;
    border-radius: 2em;
    white-space: pre-line;
    word-break: break-word;
    word-wrap: break-word;

.char-msg-title
    font-size: 1.2em
    font-weight: 400

.char-msg-content
    margin: 1em 0
    font-size: .9em
    
.char-msg-close-btn
    background: rgb(255, 116, 0);
    position: absolute
    right: -.6em
    top: -.7em
    width: 2em
    height: 2em
    padding: 0
    border: none
    text-align: center
    border-radius: 50%
    outline: none
    transition: all $cubicEase .3s
    transform-origin: 50% 50%
    &:hover
        transform: rotate(90deg)
    &:active
        transition: none !important
        transform: scale(.8)

@keyframes move-in-bottom {
    from {
        opacity: 0
        transform: translate(0, 10em)
    }
    to {
        opacity: 1
        transform: translate(0, 0)
    }
}

@keyframes move-out-bottom {
    form {
        transform: translate(0, 0)
        opacity: 1
    }
    to {
        transform: translate(0, 7em)
        opacity: 0
    }
}

@keyframes scale-in-ease {
    0% {
        opacity: 0
        transform: scale(0)
    }
    50% {
        opacity: 1
        transform: scale(1.2)
    }
    100% {
        opacity: 1
        transform: scale(1)
    }
}
