/*
    Animation Searcher Stylus @ Application Style By LancerComet at 14:25, 2015.10.09.
    # Carry Your World #
    ---
    主程序样式表.

    Log:
    ---
    V0.1.0 - 14:25, 2015.10.09.
     - 初版.
*/

@import "_lib-restyling.styl";

