/*
    Pagination Style By LancerComet at 0:09, 2015.10.28.
    # Carry Your World #
    ---
    搜索结果面板翻页样式定义.
*/

// Common.
// ========================
.result-pagination .pagination-item,
.result-pagination-popgo .now
  padding: .5em 1em
  border-radius: 5em
  background-color: #698dda
  color: #fff
  font-size: .8em
  text-decoration: none
  animation: fade-in $cubicEase .4s

// CASO.
// ========================
.result-pagination-caso .pagination-item b
  display: none

// Popgo.
// ========================
.result-pagination-popgo .now
  background-color: #fff
  color: #698dda
  font-weight: 400

